$def with(posts, user_info)

<div class="container">
		<div class="row">
			<ul class="sidebar">
				<li class="active"><a href="#"><span class="mdi mdi-home"></span>Home Feed</a></li>
				<li><a href="/profile/$user_info['username']"><span class="mdi mdi-account-circle"></span>Profile</a></li>
				<li><a href="#"><span class="mdi mdi-email"></span>Messages</a></li>
				<li><a href="#"><span class="mdi mdi-google-circles-group"></span>Friends</a></li>
				<li><a href="#"><span class="mdi mdi-google-circles-communities"></span>Communities</a></li>
				<li><a href="#"><span class="mdi mdi-bell"></span>Notifications</a></li>
				<li><a href="#"><span class="mdi mdi-settings"></span>Settings</a></li>
				<li><a href="#"><span class="mdi mdi-help-circle"></span>Help</a></li>
			</ul>
			<div class="col-md-6">
			<div class="post-box">
				<form id=post-activity"">
					<textarea name="content" class="post-input" placeholder="What's new $session['user']['name']"></textarea>
					<button id="post-button" class="btn btn-info btn-raised waves-effect" type="submit"><span class="mdi mdi-send"></span>Post</button>
				</form>
			</div>
			$for post in posts:
				<div class="post-card">
					<div class="header">
						<div class="avatar" style="background: url($post['user']['avatar'])"></div>
						<a href="/profile/$post['username']">$post['user']['name']</a>
						<span class="timestamp">$post['timestamp']</span>
					</div>
					<div class="content">
						$post['content']
					</div> 
					<div class="footer">
						<button class="btn btn-round waves-effect btn-default btn-raise btn-like"><span class="mdi mdi-thumb-up-outline"></span></button>
						<button class="btn btn-round waves-effect btn-default btn-raise btn-comment"><span class="mdi mdi-comment-text-outline"></span></button>
						<button class="btn btn-round waves-effect btn-default btn-raise btn-share"><span class="mdi mdi-share "></span></button>
					</div>
					<div class="comments">
						$for comment in post["comment"]:
							<div class="comment">
								<div class="header">
									<div class="avatar"></div>
									<span class="comment-timestamp pull-right">Posted $comment['timestamp']</span>
									<a href="/profile/$comment['username']">$comment['user']['name']</a><br>
									<span class="comment-content">/$comment['content']</span>
								</div>
							</div>
						<div class="comment add">
								<div class="header">
									<form class="comment-form">
											<div class="avatar"></div>
											<input name="post_id" class="hidden" value="$post['_id']">
											<textarea name="comment-text" class="form-control" placeholder="Write  comment"></textarea>
											<button type="submit" class="btn btn-info brn-raised waves-effect btn-sn pull-right">Add Comment</button>
									</form>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
</div>

